@font-face{
	font-family: lemonmilk;
	src: url(../../styles/fonts/LEMONMILK-Light.otf);
}
@font-face{
	font-family: robotolight;
	src: url(../../styles/fonts/Roboto-Light.ttf);
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #FFF;
	width: 100%;
}
.container{
	width: 100%;
	position: relative;
}
.clima{
	width: 100%;
}
.card__container{
	width: 80%;
	/*max-width: 1200px;*/
	margin: 20px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(8, auto);
}
.card__content{
	padding: 1rem;
	background: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	border-radius: 5px;
}
.card__header{
	width: 100%;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, auto);
}
.card__header-info{
	color: #1C1C1C;
	font-family: robotolight;
}
.card__header-info h2{
	font-size: 2rem;
}
.card__header-icon{
	color: #CCC;
	font-size: 4rem;
	text-align: center;
}
.card__map{
	margin-top: 10px;
	width: 100%;
	max-height: 150px;
	overflow: hidden;
}
.card__map iframe{
	width: 100%;
	height: 100%;
}
.card__list{
	font-family: robotolight;
}
.card__list-table{
	width: 100%;
	text-align: center;
}
.card__search{
	width: 100%;
	margin: 2.5rem 0;
}
.card__nav{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	background: #FFF;
	padding: .7rem 2rem;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	border-radius: 100px;
}
.card__nav .card__nav-link{
	font-family: 'robotolight';
	color: #34495E;
	line-height: 2rem;
	margin: 0px 5px;
	padding: 0px .5rem;
	text-decoration: none;
}
.card__nav .card__nav-link:hover,
.card__nav .card__nav-link.active{
	cursor: pointer;
	text-decoration: underline;
}
.card__nav .formSearch input[type="text"],
.card__nav .formSearch select{
	outline: none;
	border: 1px solid #F1F1F1;
	height: 2rem;
	padding: 0 1.3rem;
	border-radius: 3px;
	font-family: 'robotolight';
}
.card__nav .formSearch input[type="submit"]{
	height: 2rem;
	padding: 0 1.3rem;
	border: none;
	background: #34495E;
	font-family: 'robotolight';
	color: #FFF;
	cursor: pointer;
	border-radius: 3px;
	transition: .3s;
}
.card__nav .formSearch input[type="submit"]:hover{
	box-shadow: 0 0 10px rgba(52,73,94,.8);
}
.icon-resp{
	display: none;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2rem;
	color: #FFF;
	font-family: 'robotolight';
	line-height: 2rem;
	text-align: center;
	background: #34495E;
}

@media screen and (max-width: 1080px) {
	.card__container{
		grid-template-columns: repeat(3, 1fr);
	}
	.card__nav{
		flex-wrap: wrap;
	}
	.formSearch{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.formSearch input,
	.formSearch select{
		margin: 0px 5px;
	}
}
@media screen and (max-width: 870px) {
	.card__container{
		grid-template-columns: repeat(2, 1fr);
	}
	.icon-resp{
		display: block;
	}
	.card__nav{
		height: 2rem;
		overflow: hidden;
		flex-wrap: nowrap;
		flex-direction: column;
		text-align: center;
		border-radius: 8px;
		padding: 0 2rem;
		transition: .5s;
	}
	.formSearch{
		flex-wrap: wrap;
	}
	.formSearch input[type="text"],
	.formSearch select{
		width: 100%;
		margin: 5px 0px;
	}
	.icon-resp{
		width: 100%;
		transition: .5s;
	}
	.icon-resp i{
		line-height: 2rem;
	}
}
@media screen and (max-width: 570px) {
	.card__container{
		grid-template-columns: repeat(1, 1fr);
	}
}